trigger:
- master

pool:
  vmImage: 'windows-2022'

variables:
- name: solution
  value: '**/*.sln'
- name: buildPlatform
  value: 'x64'
- name: buildConfiguration
  value: 'Release'
- name: appxPackageDir
  value: '$(System.DefaultWorkingDirectory)\AppxPackages'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: DownloadSecureFile@1
  name: signingCertDD0
  inputs:
    secureFile: 'store-DD0.pfx'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      version=$(sed -n -E '/^ +Version=/s/^ +Version="([0-9\.]*)(.*)/\1/p' PengwinEnterprise8/Package.appxmanifest)
      sed -E -i "s/(^.*commandline.*PengwinEnterprise8_)([0-9\.]+)(_.*$)/\1${version}\3/g" PengwinEnterprise8/Public/Fragments/PengwinEnterprise8.json
      
      version=$(sed -n -E '/^ +Version=/s/^ +Version="([0-9\.]*)(.*)/\1/p' PengwinEnterprise9/Package.appxmanifest)
      sed -E -i "s/(^.*commandline.*PengwinEnterprise9_)([0-9\.]+)(_.*$)/\1${version}\3/g" PengwinEnterprise9/Public/Fragments/PengwinEnterprise9.json
      shortVersion=$(echo "${version}" | cut -d. -f1,2)
      sed -E -i "s/(^.*wsl\.distribution-version[^0-9]*)([0-9\.]+)(.*$)/\1${shortVersion}\3/g" PengwinEnterprise9/Public/Fragments/PengwinEnterprise9.json

      version=$(sed -n -E '/^ +Version=/s/^ +Version="([0-9\.]*)(.*)/\1/p' PengwinEnterprise10/Package.appxmanifest)
      sed -E -i "s/(^.*commandline.*PengwinEnterprise10_)([0-9\.]+)(_.*$)/\1${version}\3/g" PengwinEnterprise10/Public/Fragments/PengwinEnterprise10.json
      shortVersion=$(echo "${version}" | cut -d. -f1,2)
      sed -E -i "s/(^.*wsl\.distribution-version[^0-9]*)([0-9\.]+)(.*$)/\1${shortVersion}\3/g" PengwinEnterprise9/Public/Fragments/PengwinEnterprise10.json

      version=$(sed -n -E '/^ +Version=/s/^ +Version="([0-9\.]*)(.*)/\1/p' PengwinEnterprise/Package.appxmanifest)
      sed -E -i "s/(^.*commandline.*WLinuxEnterprise_)([0-9\.]+)(_.*$)/\1${version}\3/g" PengwinEnterprise/Public/Fragments/PengwinEnterprise7.json

- task: DownloadSecureFile@1
  name: signingCertDCF
  inputs:
    secureFile: 'store-DCF.pfx'

- template: build-version.yml
  parameters:
    pipeline: '17'
    install_version: '9'
    distro_version: '9'
    certificate_name: 'signingCertDD0'
    app_id: '9P70GX2HQNHN'
    package_name: 'PengwinEnterprise9'

- template: build-version.yml
  parameters:
    pipeline: '12'
    install_version: '8'
    distro_version: '8'
    certificate_name: 'signingCertDD0'
    app_id: '9N2XZFWMRRQW'
    package_name: 'PengwinEnterprise8'

#- template: build-version.yml
#  parameters:
#    pipeline: '7'
#    install_version: ''
#    distro_version: '7'
#    certificate_name: 'signingCertDCF'
#    app_id: '9N8LP0X93VCP'
#    package_name: 'WLinuxEnterprise'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
